<div class="form-beta" style="margin-top:100px; margin-bottom:400px">
    <h3>Twitter投稿完了</h3>
    <div class="done-message">『Infinite Blocks』のゲーム結果をTwitterに投稿しました。</div>
    <div class="done-backlink"><%= link_to("ランキング" , "/games/infinite-blocks/records") %></div>
    <div class="done-backlink"><%= link_to("ゲームに戻る" , "/games/infinite-blocks") %></div>
</div>
