<%= render :partial => "setting_menu" %>
<div class="form-beta">
    <h3>メールアドレス設定完了</h3>
    <div class="done-message">メールアドレスを更新しました</div>
    <div class="done-backlink"><%= link_to("設定画面に戻る" , "/settings/email") %></div>
</div>