<h1>パスワード再設定</h1>
<div class="form-gamma">
    <h3>確認メールを送信しました</h3>
    <div class="description">
        <p>ご自身のメールボックスを確認してください。</p>
        <p>メールボックスに存在しない場合は、迷惑メールフォルダを確認してください。</p>
        <p>それでもメールが届いていない場合は、<%= link_to("こちら", "/contact") %>にてご連絡をお願い致します。</p>
        <p>メールの内容を確認したら、メールに記載されているリンクをクリックしてパスワードを再設定してください。</p>
    </div>
</div>
