<h1>パスワード再設定</h1>
<%= form_tag("/login/forgot-password", class: "form-gamma") do %>
<h3>パスワードをお忘れの方へ</h3>
<div class="description">
    <p>
        パスワードを再設定するには、ご利用中のメールアドレスを入力してください。
    </p>
    <p>
        メールが届いたら、メールに記載されているリンクをクリックしてパスワードを再設定してください。
    </p>
</div>
<hr>
<h5 style="margin-top:20px;">メールアドレス</h5>
<input type="email" name="email">
<% if flash[:email_warning] %>
<div class="confirmation-message warning"><%= flash[:email_warning] %></div>
<% end %>

<input type="submit" value="確認メール送信" style="margin-top:40px;">
<hr style="margin-top:40px">
<div class="notice" style="margin-top:20px"><%= link_to("ログイン画面に戻る", "/login") %></div>
<% end %>
