<div class="form-beta" style="margin-top:100px; margin-bottom:400px">
    <h3>パスワード再設定完了</h3>
    <div class="done-message">パスワードを再設定しました</div>
    <div class="done-backlink"><%= link_to("ホーム画面に戻る" , "/") %></div>
    <div class="done-backlink"><%= link_to("プロフィール設定に進む" , "/settings/profile") %></div>
</div>
