<h1>新規登録</h1>
<div class="form-beta">
    <h2>Welcome to Atelier144!!</h2>
    <div class="done-message">ユーザー登録が完了しました！</div>
    <div class="done-backlink"><%= link_to("ホーム画面に戻る" , "/") %></div>
    <div class="done-backlink"><%= link_to("プロフィール設定に進む" , "/settings/profile") %></div>
</div>
