<% set_meta_tags title: "アプリ集" %>
<h1>アプリ集</h1>
<div class="preparation">準備中</div>
<div class="sponsored-link" style="margin-top: 50px; margin-bottom:400px">
    <h6>Sponsored Link</h6>
    <div class="ads-body">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BigBanner -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6705654465089208" data-ad-slot="2700218098"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});

        </script>
    </div>
</div>
