<h1>アプリ集</h1>
<div class="preparation">準備中</div>
<div class="sponsored-link" style="margin-top: 50px; margin-bottom:400px">
    <h6>Sponsored Link</h6>
    <div class="ads-body">Sponsored Link</div>
</div>
