<h1>お問い合わせ</h1>
<div class="form-gamma">
    <h3>お問い合わせありがとうございます</h3>
    <div class="description">
        <p>この度はお問い合わせいただき、誠にありがとうございます。内容確認後、運営者より折り返しご連絡致します。今しばらくお待ちいただきますよう、よろしくお願いします。</p>
        <p>その他、何かご不明な点がございましたら、気軽にお問い合わせください。</p>
    </div>
    <div class="done-backlink"><%= link_to("ホーム画面に戻る" , "/") %></div>
</div>
