<div id="js-top-background" class="top-background">
    <h1>中規模ゲームも無料で遊べる<br>Atelier144</h1>
    <p>
        Atelier144はたった一人の趣味エンジニアによって開発・運用されている会員登録制のゲームサイトです。<br>
        ワンマン運営なので、開発・運営コストが非常に安く、様々な機能を搭載したゲームが無料で遊べます。<br>
    </p>
</div>
<h2>更新情報</h2>
<table class="news">
    <tbody>
        <% @news.each do |anew| %>
        <tr>
            <td><%= anew.created_at.strftime("%Y年%m月%d日") %></td>
            <td><%= anew.content %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="sponsored-link" style="margin-top:50px">
    <h6>Sponsored Link</h6>
    <div class="ads-body">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BigBanner -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6705654465089208" data-ad-slot="2700218098"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});

        </script>
    </div>
</div>
<h2>最新ブラウザゲーム集</h2>
<table class="games">
    <tbody>
        <tr>
            <td>
                <%= link_to("/games/infinite-blocks", class: "web-game") do %>
                <div class="title">Infinite Blocks</div>
                <%= image_tag("GameThumbnailInfiniteBlocks.png") %>
                <div class="genre">ジャンル：ブロック崩し</div>
                <div class="description">最大レベル30、20種類以上のブロック、20種類以上のアイテム、そして10種類以上のシステム、このゲームはボールが無くなるまでは終わらない。</div>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>
<h2>最新アプリ集</h2>
<div class="preparation">準備中</div>
<div class="sponsored-link" style="margin-top: 50px; margin-bottom:100px">
    <h6>Sponsored Link</h6>
    <div class="ads-body">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BigBanner -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6705654465089208" data-ad-slot="2700218098"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});

        </script>
    </div>
</div>
